<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/styleguide.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div class="overlap-2" th:fragment="header">
    <header class="header">
        <div class="div-wrapper">
            <div class="group-7">
                <div class="group-8">
                    <img class="mask-group" src="img/mask-group.png" />
                    <div class="settings-wrapper"><img class="settings" src="img/settings-1.svg" /></div>
                    <div class="element-notification-wrapper">
                        <img class="element-notification" src="img/002-notification-1.svg" />
                    </div>
                    <div class="group-9">
                        <div class="overlap-group-3">
                            <span><i class="bi bi-search" style="position: absolute; top: 50%; left: 12%; transform: translateY(-50%); color: #8ba3cb; font-size: 16px;"></i></span>
                            <div class="text-wrapper-8">Search for something</div>
                        </div>
                    </div>
                </div>
                <div class="logo">
                    <div class="iconfinder-vector"></div>
                    <div class="text-wrapper-9">BankDash.</div>
                </div>
            </div>
        </div>
        <div class="rectangle"></div>
    </header>
    <div class="sidebar-menu"></div>
</div>
</body>
</html>