<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/styleguide.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div class="group-10" th:fragment="navbar">
    <div class="group-11">
        <div class="group-12">
            <div class="text-wrapper-10">Customers</div>
            <span><i class="bi bi-people-fill" style="font-size: 24px; color: #C5C5CF;"></i></span>
        </div>
    </div>
    <div class="group-13">
        <span><i class="bi bi-gear-fill" style="font-size: 24px; color: #C5C5CF;"></i></span>
        <div class="text-wrapper-11"><a th:href="@{/service/list}">Services</a></div>
    </div>
    <div class="group-14">
        <span><i class="bi bi-exclamation-circle-fill" style="font-size: 24px; color: #C5C5CF;"></i></span>
        <div class="text-wrapper-12">Policies</div>
    </div>
    <div class="group-15">
        <span><i class="bi bi-calendar-event-fill" style="font-size: 24px; color: #C5C5CF;"></i></span>
        <div class="text-wrapper-13">Events</div>
    </div>
    <div class="group-16">
        <span><i class="bi bi-house-door-fill" style="color: #396AFF; font-size: 24px;"></i></span>
        <div class="text-wrapper-14">Home</div>
    </div>
    <div class="rectangle-2"></div>
    <div class="group-17">
        <div class="text-wrapper-13">Account</div>
        <span><i class="bi bi-person-fill" style="font-size: 24px; color: #C5C5CF;"></i></span>
    </div>
    <div class="group-18">
        <div class="text-wrapper-15">Brands</div>
        <span><i class="bi bi-building-fill" style="color: #C5C5CF; font-size: 24px;"></i></span>
    </div>
    <div class="group-19">
        <div class="text-wrapper-16">Categories</div>
        <span><i class="bi bi-exclude" style="color: #C5C5CF; font-size: 24px;"></i></span>
    </div>
</div>
</body>
</html>